@import url('https://fonts.cdnfonts.com/css/sf-pro-display');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{    
    padding: 0;
    margin: 0;
    box-sizing: border-box;      
    user-select: none;
    outline: none;
    font-family: "SF Pro Display";
    list-style: none;
}

div, p, h1, h2, h3, h4, h5, ul, li, a, form {
    margin: 0;
	padding: 0;
	border: 0;
	text-decoration: none;
	line-height: 1;
}

body {
    margin: 0;
	padding: 0;
	border: 0;
	text-decoration: none;
	line-height: 1;
    
   .site {
        background: url(../public/bg.jpg) no-repeat center top;
   }

   @media (max-width: 992px) {
    .site {
        background: url(../public/bg2.jpg) no-repeat center top;
    }
}
}

